body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  padding: 20px;
}

.box {
  border: 2px solid #38bdf8;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
}
